html, body {
  background: black;
  padding: 0;
  margin: 0;
  height: 100%;
  
  font-family: helvetica neue, helvetica;
  //overflow-x: hidden;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@-webkit-keyframes stepping {
    from { left: 0% }
    to { left: 100% }
}



@-webkit-keyframes beat {
    from { background: rgba(255,255,255,0.8); }
    to { background: rgba(255,255,255,0); }
}
.beat {
  -webkit-animation-name: beat;
  -webkit-animation-timing-function: ease-out; 
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: .6s;
  -webkit-transform: translateZ(0);
}


#pattern-editor,
#sequencer-view {
  height: 100%;
  display: block;

  table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }

  thead {
    th {
      height: 20px;
      &#playhead {
        position: relative;
        left: 0%;
        top: 0;
        height: 20px;
        
        //-webkit-animation-name: stepping;
        //-webkit-animation-timing-function: steps(16, end);
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-duration: 2s;
        
        background-color: #C8DEC0;
      }
    }
  }

  td {
    border: 1px solid #333;
    background: #000;

    &:nth-child(1),
    &:active,
    &.active {
      background: transparent;
      position: relative;
      /* gloss
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 50%;
        background: rgba(255, 255, 255, .1);
        top: 0;
      }*/
    }

    // label
    &:nth-child(1) {
      width: 60px;
      h1 {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 60px;
        padding: 10px;
        box-sizing: border-box;
        text-shadow: 0 1px #AAA;
      }

      @media (min-width: 580px) {
        width: 100px;
        h1 {
          font-size: 16px;
          width: 100px;
        }
      }
    }

    /* mark 1st beat in bars
    &:nth-child(2) {
      border-left: 1px solid #f9f9f9;
    }
    &:nth-child(9) {
      border-right: 1px solid #f9f9f9;
    }*/
  }
}