html, body {
  background: black;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: helvetica neue, helvetica;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input,
button {
  -webkit-appearance: none;
  height: 60px;
  min-width: 100px;
  background: white;
  border-radius: 4px;
  border: none;
  color: #555;
  font-weight: bold;
  padding: 0 15px; }

@-webkit-keyframes stepping {
  from {
    left: 0%; }

  to {
    left: 100%; } }

@-webkit-keyframes beat {
  from {
    background: white; }

  to {
    background: rgba(255, 255, 255, 0); } }

.beat {
  -webkit-animation-name: beat;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: .6s;
  -webkit-transform: translateZ(0); }

#login {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8); }
  #login .form {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -150px;
    margin-top: -100px; }

#pattern-editor,
#sequencer-view {
  height: 100%;
  display: block; }
  #pattern-editor table,
  #sequencer-view table {
    width: 100%;
    height: 100%;
    border-collapse: collapse; }
  #pattern-editor thead th,
  #sequencer-view thead th {
    height: 10px; }
    #pattern-editor thead th#playhead,
    #sequencer-view thead th#playhead {
      position: relative;
      left: 0%;
      top: 0;
      height: 20px;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-duration: 2s;
      background-color: #C8DEC0; }
  #pattern-editor td,
  #sequencer-view td {
    border: 1px solid #333333;
    background: #000;
    /* mark 1st beat in bars
    &:nth-child(2) {
      border-left: 1px solid #f9f9f9;
    }
    &:nth-child(9) {
      border-right: 1px solid #f9f9f9;
    }*/ }
    #pattern-editor td:nth-child(1), #pattern-editor td:active, #pattern-editor td.active,
    #sequencer-view td:nth-child(1),
    #sequencer-view td:active,
    #sequencer-view td.active {
      background: transparent;
      position: relative;
      /* gloss
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 50%;
        background: rgba(255, 255, 255, .1);
        top: 0;
      }*/ }
    #pattern-editor td:nth-child(1),
    #sequencer-view td:nth-child(1) {
      width: 60px; }
      #pattern-editor td:nth-child(1) h1,
      #sequencer-view td:nth-child(1) h1 {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 60px;
        padding: 0 5px;
        box-sizing: border-box;
        text-shadow: 0 1px #aaaaaa;
        margin: 0;
        text-align: center; }
      @media (min-width: 580px) {
        #pattern-editor td:nth-child(1),
        #sequencer-view td:nth-child(1) {
          width: 100px; }
          #pattern-editor td:nth-child(1) h1,
          #sequencer-view td:nth-child(1) h1 {
            font-size: 16px;
            width: 100px; } }

body {
  background-color: #333; }

#modifiers {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex; }

.fx-panel {
  flex: 1;
  -webkit-flex: 1;
  border: rgba(255, 255, 255, 0.8);
  height: 50%;
  margin: 4px;
  background-color: #ccc;
  border-radius: 4px;
  box-shadow: inset 0px 0px 14px rgba(0, 0, 0, 0.5); }
  .fx-panel label {
    font-family: Arial;
    font-size: 14px;
    width: 100%;
    display: block;
    padding: 4px;
    text-align: center;
    text-shadow: 0px 1px 1px white; }
